@font-face {
    font-family: 'Ebrima';
    src: url('ebrima.ttf');
}

.container
{
    -fx-background-color: #232C33;
}

.name{
    -fx-text-fill: #eff1f0;
    -fx-font-family: Ebrima;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.grid
{
    -fx-background-color: #283943;
    -fx-background-radius: 12px;
    -fx-row-valignment: center;
    -fx-column-halignment: center;
    -fx-padding: 0px 6px;
}

.card
{
    -fx-background-color: #2F404A;
    -fx-background-radius: 6px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 0);
}

.image:hover
{
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
}



