.container
{
    -fx-background-color: #232C33;
}

.grid
{
    -fx-background-color: #283943;
    -fx-background-radius: 12px;
    -fx-row-valignment: center;
    -fx-column-halignment: center;
    -fx-padding: 0px 6px;
}

.scroll-pane
{
    -fx-background: #283943;
    -fx-background-color: transparent;
}


.scroll-pane .scroll-bar:vertical,
.scroll-pane .scroll-bar:horizontal {
    -fx-background-color: #e0e0e0;
    -fx-background-insets: 0;
    -fx-arrows-visible: false;
    -fx-border-radius: 5px;
}

.scroll-pane .scroll-bar .thumb:hover {
    -fx-background-color: #283943;
}

.card
{
    -fx-background-radius: 6px;
    -fx-opacity: 0.85;
}
.card:hover
{
    -fx-opacity: 1;
}

.label
{
    -fx-font-family: Ebrima;
    -fx-font-size: 12px;
    -fx-text-fill: #eff1f0;
}

.image:hover
{
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
}



