.menu-title
{
    -fx-alignment: center;
    -fx-text-fill: #286287;
    -fx-font-family: Ebrima;
    -fx-font-weight: bold;
    -fx-font-size: 50px;
}

/*COMMON*/
.container
{
    -fx-background-color: #eff1f0;
}





/*BOARDGAME*/
.board
{
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #155175, #266f98);
    -fx-background-radius: 12px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 20, 0, 0, 0);
}

.big_square
{
    -fx-fill: #d37158;
    -fx-arc-height: 14px;
    -fx-arc-width: 14px;
    -fx-stroke: linear-gradient(from 60% 0% to 90% 100%, #ec8161, #b1604f);
    -fx-stroke-width: 6px;
}

.square
{
    -fx-fill: #faecd2;
    -fx-arc-height: 14px;
    -fx-arc-width: 14px;
    -fx-stroke: linear-gradient(from 60% 0% to 90% 100%, #fff8e5, #dccaa4);
    -fx-stroke-width: 6px;
}

.vertical_rectangle
{
    -fx-fill: #f9d3ac;
    -fx-arc-height: 14px;
    -fx-arc-width: 14px;
    -fx-stroke: linear-gradient(from 0% 30% to 100% 50%, #fce2c1, #e8bb92);
    -fx-stroke-width: 6px;
}

.horizontal_rectangle
{
    -fx-fill: #f9b66f;
    -fx-arc-height: 14px;
    -fx-arc-width: 14px;
    -fx-stroke: linear-gradient(from 35% 0% to 75% 100%, #ffc386, #eca16a);
    -fx-stroke-width: 6px;
}

.configuration_title
{
    -fx-background-color: radial-gradient(center 50% 50%, radius 85%, #e8edf0, #e8edf0, #acadb2);
    -fx-background-radius: 18px;
    -fx-alignment: center;
    -fx-border-color: linear-gradient(from 0% 0% to 0% 100%, #d1d5d4, #e6e9e8);
    -fx-border-width: 4px;
    -fx-border-radius: 100%;
    -fx-border-insets: -1px;
    -fx-text-fill: #286287;
    -fx-font-family: Ebrima;
    -fx-font-weight: bold;
    -fx-font-size: 24px;
}

.property_name
{
    -fx-text-fill: #286287;
    -fx-font-family: Ebrima;
    -fx-font-weight: lighter;
    -fx-font-size: 16px;
}

.property_value
{
    -fx-text-fill: #286287;
    -fx-font-family: Ebrima;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.little_button
{
    -fx-background-color: #809ba6;
    -fx-border-color: linear-gradient(from 0% 0% to 100% 100%, #98abaf, #5b7782);
    -fx-border-width: 4px;
    -fx-border-radius: 100%;
    -fx-border-insets: -1px;
    -fx-text-fill: #d5dbe7;
    -fx-font-family: Ebrima;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-background-radius: 20px;
    -fx-alignment: center;
}

.exit_button
{
    -fx-background-color: #d37158;
    -fx-border-color: linear-gradient(from 60% 0% to 90% 100%, #ec8161, #b1604f);
    -fx-border-width: 4px;
    -fx-border-radius: 100%;
    -fx-border-insets: -1px;
    -fx-text-fill: #facac6;
    -fx-font-family: Ebrima;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-background-radius: 20px;
    -fx-alignment: center;
}